parameters:
    level: 7
    paths:
        - src/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
